---
layout: index.njk
title: "Simon's Travel Blog"
description: "Travel writing by Simon Tudge: seven months overland from Estonia to Vietnam, plus the Lycian Way, India, Israel and other shorter trips."
lead: "Hi I’m Simon, welcome to my travel blog. After my studies, and a little work, I left my job to travel east for seven months from Estonia to Vietnam, via Turkey, Georgia and central Asia and Thailand, mostly over land, but with a few flights to skip some difficult visa applications. I’ve written about my trip here. I try to combine my own personal observations with some light historical facts and some funny anecdotes. As well as the seven month trip I’ve written a few stand-alone blog posts from trips that I’ve done to other countries. I’ll try to add posts as I travel more."
pageTitle: "Simon's Travel Blog"
collection: "travel"
crumb: "Travel"
crumbHref: "/travel-blog/"
permalink: "/travel-blog/index.html"
eleventyExcludeFromCollections: true
---
