---
layout: index.njk
title: "Simon's Short Stories"
description: "Short stories by Simon Tudge, leaning towards magic realism: The Farm, The Magic Cave, New Girlfriend and Together."
lead: "My collection of short stories. I love the genre of magic realism, and that shows here, particularly in “The Magic Cave” and “The Farm”. “New Girlfriend” is a short and dark story that (I think) rewards a second reading. And “Together” was partly inspired by my walking trip to Turkey, and by events that were happening in the world at the time. “The Farm” is the one I am most happy with, so I would start there, and “The Magic Cave” was an early unpolished attempt, so don’t judge me too harshly by that one."
pageTitle: "Short Stories"
collection: "short-stories"
crumb: "Short Stories"
crumbHref: "/short-stories/"
permalink: "/short-stories/index.html"
eleventyExcludeFromCollections: true
---
