---
layout: index.njk
title: "Simon's Short Stories"
lead: "Collection of Short Stories. All the images are generated with craiyon AI image generator."
pageTitle: "Short Stories"
collection: "short-stories"
crumb: "Short Stories"
crumbHref: "/short-stories/"
permalink: "/short-stories/index.html"
eleventyExcludeFromCollections: true
---
