<!-- Template for one card, which links to a blog post.-->

<div class="col-md-4">
  <a class="link" href="posts/estonia.html">
    <div class="card mb-4 box-shadow dark-on-hover">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Place</h4>
    </div>
    <img class="card-img-top" src="thumbnails/PLACE.JPG" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">A few words about the place! What did you do, what were the impressions. Nice and short altogether.</p>
    </div>
    </div>
  </a>
</div>